<h1>Guest: <%= @guest.name %></h1>

<section id="rooms">
  <h2> Rooms: </h2>
  <% @guest.rooms.each do |room| %>
    <p>Hotel: <%= room.hotel.name %></p>
    <ul>
      <li>Suite: <%= room.suite %></li>
      <li>Rate: <%= room.rate %></li>
    </ul>
  <% end %>
</section>

<section id ="add-a-room"
  <h2> Add a Room: </h2>

  <%= form_with url: "/guests/#{@guest.id}", method: :patch, data: { turbo: false } do |f| %>
    <%= f.label :room_id, "Room ID" %>
    <%= f.text_field :room_id %></br>

    <% # Added this because I can't figure out how to pass the guest id into the guest_rooms_controller create method %>
    <%= f.label :guest_id, "Guest ID" %>
    <%= f.text_field :guest_id %></br>
  
    <%= f.submit "Submit" %>
  <% end %>

</section>