<h1><%= @guest.name %>'s Information</h1>

<p>Rooms Stayed In:</p>

<% @guest.rooms.each do |room| %>
<ul id="rooms-stayed-in-<%= room.id %>">
  <li>Room Suite: <%= room.suite %></li>
  <li>Nightly Rate: <%= room.rate %></li>
  <li>Name of Hotel: <%= room.find_hotel %></li>
</ul>
<% end %>

<p>Hotels</p>
