<h1>Guest: <%= @guest.name %></h1>

<h3>Nights: <%= @guest.nights %></h3>

<h3>Previous Rooms:</h3>
<% @guest.rooms.each do |room| %>
    <%= "Suite Name: #{room.suite}" %>
    <ul>
        <li><%= "Suite Hotel: #{room.hotel.name}" %></li>
        <li><%= "Suite Rate: #{room.rate}" %></li>
    </ul>
<% end %>

<%= form_with url: "/guests/#{@guest.id}", method: :get, local: true do |f| %>
    <h3><%= f.label :added_room_id, "Add a room for #{@guest.name}:" %></h3>
    <%= f.text_field :added_room_id %><br><br>
    <%= f.submit "Add Room" %>
<% end %>